<% Object.keys(messages).forEach(function (type){ %>
    <div class="letter alert alert-<%= type %>">
    <% messages[type].forEach(function (message) { %>
        <%= message %>
    <% }) %>    
    </div>
    <% })  %>